ipykernel==6.29.5
ipython==8.18.1
matplotlib==3.9.4
matplotlib-inline==0.1.7
munkres==1.1.4
networkx==3.2.1
numpy==1.26.2
pandas==1.4.3
requests==2.32.3
scikit-learn==1.1.1
scipy==1.13.1
seaborn==0.13.2
torch==2.5.1+cu121
torch-geometric==2.6.1
torch_cluster==1.6.3+pt25cu121
torch_scatter==2.1.2+pt25cu121
torch_sparse==0.6.18+pt25cu121
torch_spline_conv==1.2.2+pt25cu121
tqdm==4.67.1
yarl==1.18.3